<h1><%=@product.name %></h1>  
<p>$<%=@product.price %><p>
<a data-confirm="Are you sure?" data-method="delete"
href= "<%="/products/#{@product.id}" %>" rel="nofollow" class="btn btn-default" role="button">Delete</a>

